<thead>
<tr>
  <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Student</th>
  <th width="100px">State</th>
</tr>
<%- enrollments.each do |enrollment| %>
  <tr>
    <td width="100px"><%= enrollment.course.title %></td>
    <td width="100px"><%= enrollment.state %></td>
  </tr>
<%- end %>
</thead>
