<!-- ================Start @enrollment section================== -->
<section class="p-5">
  <div class="container">
    <h1>Editing Enrollment</h1>
    <%= render 'form', users_enrollment: @enrollment, url: users_enrollment_path(@enrollment) %>

  </div>
</section>