<!-- ================Start @enrollment section================== -->
<section class="p-5">
  <div class="container">
    <h1>New Enrollment</h1>
    <%= render 'form', users_enrollment: @enrollment, url: users_enrollments_path %>

  </div>
</section>