:root {
  --color-info: #34b5f0;
  --color-success: #31e284;
  --color-warning: #f0a834;
  --color-danger: #ff3f3f;
  --color-notification: white;
  --color-dark: #131821;
}

.notice_notification {
  $this: &;
  // Variables
  --padding: 1rem 1rem 1rem 1rem;
  --color: var(--color-info);
  --bezier: cubic-bezier(0.75, 0.21, 0.25, 0.78);

  text-align: center;
  background-color: var(--color-notification);
  box-shadow: 0 10px 10px black;
  border-radius: 5px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  max-width: 300px;
  z-index: 91;

  // Transition
  transition: transform 0.5s ease 0.4s;

  // Tranform
  transform-origin: 50% 0%;
  transform: scaleY(0);

  // Notification styles
  &.-danger {
    --color: var(--color-danger);
  }

  &.-info {
    --color: var(--color-info);
  }

  &.-success {
    --color: var(--color-success);
  }

  &.-warning {
    --color: var(--color-warning);
  }

  // Actions
  &.-open {
    transition: all 0.5s ease;
    transform-origin: 50% 50%;
    transform: scale(1);

    &::before {
      transition: all 0.4s var(--bezier) 0.4s;
      transform: scaleY(0);
    }

    #{$this}__button {
      color: #fff;
      transition: color 0.3s ease 0.8s, background-color 0.3s ease;
    }
  }

  // Overlay
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: 0% 100%;
    transition: all 0.5s var(--bezier);
    background: var(--color);
    border-radius: 5px;
  }

  &__content {
    box-sizing: border-box;
    padding: var(--padding);
    width: 100%;
    margin: 0 auto;
  }

  &__icon {
    font-size: 2.2rem;
    color: var(--color);
    margin-bottom: 2rem;
    transition: color 0.3s ease;
  }

  &__title,
  &__text,
  &__icon {
    margin-top: 0;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__text {
    color: var(--color-dark);
    font-size: 1rem;
  }

  &__button {
    background: var(--color);
    color: var(--color);
    width: 100%;
    border: none;
    padding: 1rem 1.4rem;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
