<!-- ================Start Users section================== -->
<section class="p-5">
  <div class="container">
    <h1>New Course</h1>
    <%= render 'form', course: @course, url: users_courses_path %>

  </div>
</section>