<h1>Editing Course</h1>

<%= render 'form', teachers_course: @teachers_course, url: teachers_course_path(@teachers_course) %>

<%= link_to 'Show', teachers_course_path(@teachers_course) %> |
<%= link_to 'Back', teachers_courses_path %>
