<!-- ================Start Course section================== -->
<section class="p-5">
  <div class="container">
    <h1>Teachers Courses</h1>
    <table class="responsive nowrap table table-hover" id="dttb_" data-sort="true" data-source="<%= url_for(format: :json) %>">
      <thead>
      <tr>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
      </thead>
    </table>
    <br>
    <%= link_to 'New Teachers Course', new_teachers_course_path %>
  </div>
</section>
