<!-- ================Start Users section================== -->
<section class="p-5">
  <div class="container">
    <%= link_to 'Edit', edit_teachers_course_path(@teachers_course) %> |
    <%= link_to 'Back', teachers_courses_path %>
  </div>
</section>
