.background-size-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.background-size-auto {
  background-size: auto;
  background-repeat: no-repeat;
}

.background-size-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

.background-repeat {
  background-repeat: no-repeat;
}

.background-repeat-y {
  background-repeat: repeat-y;
}

.background-repeat-x {
  background-repeat: repeat-x;
}
